*{
    margin: 0;
    padding: 0;
}
.image{
    /* width: 18rem; */
    height: 20rem;
}
.card-container{
    /* width: 18rem; */
    height: 26rem;
    margin: 1rem;
}
.card-2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.button-cart{
    width: 14rem;
    height: 1.5rem;
    border: none;
    background-color: black;
    color: white;
    margin-top: 0.5rem;
    margin-left: 0;
}
.button44 {
    margin-top: 0.5rem;
    width: 13.5rem;
    height: 1.7rem;
    --bg: #000;
    --hover-bg: white;
    --hover-text: #000;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    background: var(--bg);
    transition: 0.2s;
  }
  
  .button44:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
  .button44:active {
    transform: translate(0);
    box-shadow: none;
  }
  a{
    position: relative;
  }